*{
    font-family: "Caveat";
}

h3{
    margin-left: 20px;
    font-size: 30px;
    font-family: "Dancing Script";
}

h1{
    font-family: "Rubik Iso";
    font-size: 40px;
}

body {
    background: linear-gradient(270deg, rgb(255, 255, 0), rgb(0, 21, 255),rgb(255, 0, 140));
    background-size: cover;
    background-attachment: fixed;
}

.main, h1{
    margin-top: 50px;
}

.option{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.match{
    display: flex;
    justify-content: space-around;
    text-shadow: 0 0 10px  white, 0 0 20px  white, 0 0 42px BLACK, 0 0 82px  white,0 0 92px  white;

}

img{
    border-radius: 40px;
    box-shadow: 20px;
}

button{
    margin: 0xp;
    padding: 0px;
    border: none;
    background: transparent;
}

.btn {
    border: none;
    color: #fff;
    padding: none;
    margin: none;
    border-radius: 40px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.btn:hover {
    box-shadow: 0 0 50px rgb(255, 255, 255);
}

.scoreboard{
    display: flex;
    justify-content: center;
    margin-top:30px ;
    font-size: 20px;
}
